<ion-header  >
   <ion-toolbar>
   <button ion-button menuToggle>
      <ion-icon name="menu" class="whitecc"></ion-icon>
    </button>
    <ion-title ><b class="whitecc" style="font-size:1.4rem !important"> Infiget India  Pvt. </b> <ion-icon (click)="CartPage()" class="whitecc" style="margin-left: 1cm;"  name="cart"></ion-icon></ion-title>
     
   </ion-toolbar>

<ion-toolbar>
<ion-searchbar [(ngModel)]="term" ></ion-searchbar>
<ion-list>
 
</ion-list>
   </ion-toolbar>


</ion-header>

<ion-content>

<ion-slides style="max-height:200px"  autoplay="3000" loop="true" speed="1000">
  <ion-slide>
    <img style="height:200px;" src="assets/slider/img1.jpg"/>
  </ion-slide>
  <ion-slide>
    <img style="height:200px;" src="assets/slider/home_banner3.jpg"/>
  </ion-slide>
  <ion-slide>
    <img style="height:200px;" src="assets/slider/img3.jpg"/>
  </ion-slide>
</ion-slides>

<ion-list *ngFor="let item of items">
<!-- <h3>{{item.name}}</h3> -->
<ion-card *ngFor="let brands of item['brands'] |filter:term "  (click)="midconnector(brands,item['subcategories'])">
  <ion-card-content>
    <ion-row>
      <ion-col col-6> 
        <img  style="border-radius: 0%;" src="{{brands.image}}" class="custom-avatar"/>
      </ion-col>
      <!-- assets/mobile/honor_8_pro_screen_small_1497260751475.jpg -->
      <ion-col col-6>
        <ion-col >
          <h1><b>{{brands.name}}</b></h1>
        </ion-col>
        <ion-col >
          <p> {{brands.name}}</p>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-list> 
<!-- <ion-card (click)="midconnector()">
<ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/latest/lenovo.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>Lenevo</b></h1>
     </ion-col>
  
     <ion-col >
    <p> Tara Mobile Center </p>
     </ion-col>
  </ion-col>
</ion-row>
</ion-card> -->
<!-- <ion-card (click)="midconnector()">
 <ion-card-content>

 <ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/latest/lenovo.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>Lenevo</b></h1>
     </ion-col>
  
     <ion-col >
    <p> Tara Mobile Center </p>
     </ion-col>
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>



<ion-card (click)="midconnector()">
 <ion-card-content> 

 <ion-row>
  <ion-col col-6> 
 <img  style="border-radius: 0%;" src="assets/latest/galaxy-devices.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>Samsung</b></h1>
     </ion-col>
  
     <ion-col >
    <p  > Tara Mobile Center </p>
     </ion-col>
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>




<ion-card (click)="midconnector()">
 <ion-card-content>

 <ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/latest/lenovo.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col>
     <h1><b>Lenevo</b></h1>
     </ion-col>
  
     <ion-col >
    <p>  Yukti Mobile Store </p>
     </ion-col>
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card> -->










</ion-content>

