<ion-header>

</ion-header>


<ion-content padding class="masters">
 <ion-item no-lines class="masters">
    <ion-avatar item-left>
    </ion-avatar>
    </ion-item>

<ion-item no-lines class="masters">
    <ion-row>
   <ion-col col-6>
    <img src="assets/img/index2.jpg"  style=" max-width: 100%;max-height: 44%;"alt="your image">
   </ion-col>
  <ion-col col-6>
    <h1 color="white"> <b>Infiget</b> </h1>
  </ion-col>
</ion-row>

 </ion-item>

      <ion-item class="masters">
        <ion-label floating><b class="whitecc"> Username </b></ion-label>
        <ion-icon item-left class="ioconcc" name="contact"> </ion-icon>
        <ion-input type="text" class="inputfield" [(ngModel)]="username"></ion-input>
      </ion-item>
      
       <br>
     
      <ion-item  class="masters">
        <ion-label floating class><b  class="whitecc">Password</b></ion-label>
        <ion-icon item-left class="ioconcc" name="lock" ></ion-icon>
        <ion-input type="password" class="inputfield" [(ngModel)]="password"></ion-input>
      </ion-item>
      
       <br>
   
       <button ion-button  full  color="secondary" (click)="loginUser()" class="loginbutton" >LOGIN</button>
    
       <ion-item no-lines class="masters">
      <ion-row>
        <button ion-button class="txtcentre" (click)="underconstruction()" clear small>Forget Password?</button>
      </ion-row>

      <ion-row >
        <button ion-button class="txtcentre" (click)="newRegistration()" clear small>New Registration</button>
      </ion-row>

       </ion-item>

  </ion-content>
