
<ion-content padding>
  <p *ngIf="products?.length > 0 else emptyMsg">
  <ion-card *ngFor="let product of products" (click)="productdetails(product)">
      <ion-card-content>
        <ion-row>
          <ion-col col-6 style="margin-top:auto;margin-bottom:auto;text-align:left;"> 
            <img  style="border-radius: 0%;" src="{{product.fullimage}}" class="custom-avatar"/>
          </ion-col>
          <ion-col col-6>
            <p><b> {{product.name}} </b></p>
            <p> {{product.short_description}} <p>
            <p><strong>DP: ₹ {{product.dealer_price}} </strong> </p>
            <p style="font-size: 12px;"><strong>MRP: ₹ {{product.mrp}} </strong> </p>
            <a href="javascript:void(0)"> Order </a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </p>
  <ng-template #emptyMsg>No Products Found...</ng-template>
</ion-content>
