// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.hide-card {
  -webkit-box-shadow: none!important;
}

.custom-avatar {
  height: 30vw;
  width: 30vw;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.label.label-md > button {
    background-color: white;
}

.menutoolbar{
    background-color: white;
}
.label {
    border-radius: 0.25em;
    color: #000 !important;
    display: inline;
    font-size: 100% !important;
    font-weight: 400 !important;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: left !important;
    vertical-align: baseline;
    white-space: nowrap;
}
