<ion-header>

</ion-header>


<ion-content class="masters">
<img src="assets/splash/splash.png" style="
    text-align: center;
    text-align: center;
    text-align: center;
    width: 100%;
    width: 100%;
    width: 100;
    width: 100;
    width: 10;
    width: 1;
">
<!-- <img style="height:auto;" src="/assets/splash/splash.png"/> -->
 <!-- <ion-item no-lines class="masters">
    <ion-avatar item-left>
    </ion-avatar>
  </ion-item>
 
 <ion-item no-lines class="masters">
 	<ion-avatar item-left>
 	</ion-avatar>
 </ion-item>
 
 <ion-item no-lines class="masters">
    <ion-avatar item-left>
    </ion-avatar>
 </ion-item>
 
 <ion-item no-lines class="masters">
    <ion-avatar item-left>
    </ion-avatar>
 </ion-item> -->
 <!-- <marquee behavior="scroll" behavior="alternate" scrollamount="2" class ="frontsize">Infiget</marquee>
 -->

   

</ion-content>
