//page-splashscreen {

.masters {
  //background:rgba(0, 0, 0, 0) url("/assets/splash/splash.png") no-repeat scroll 0 0;
  
 // padding: 30;
  //text-align:center;
}
//#122031
//color:white;

.frontsize{  
 font-size: 400%;
}




//}
