page-productcatsubcat {

itemborder{ border: 1px solid #4a87ee; border-radius: 3px; margin:10px; } 

.toolbar-background {
  background-color:   #387080 ;
}

.masters {
  background-color: #387080;
  color:white;
  padding: 30;
}

.submasters {
  background-color: #386170;
  color:white;
  padding: 30;
}





.whitecc{
  color: white;
}



.ioconcc {
	padding-top: 27px;
}

.title.text.text-md.text-md-primary {
    color: white;
}

}
