<ion-header  >
   <ion-toolbar>
   <button ion-button menuToggle>
      <ion-icon name="menu" class="whitecc"></ion-icon>
    </button>
    <ion-title ><b class="whitecc" style="font-size:1.4rem !important"> Infiget India  Pvt. </b> <ion-icon (click)="CartPage()" class="whitecc" style="margin-left: 1cm;"  name="cart"></ion-icon></ion-title>
     
   </ion-toolbar>

<ion-toolbar>
<ion-searchbar ></ion-searchbar>
<ion-list>
 
</ion-list>
 </ion-toolbar>
</ion-header>

<ion-content>



<super-tabs id="mainTabs"  selectedTabIndex="0" *ngFor="let products of product_details" [config]="{ sideMenu: 'left' }" [toolbarColor]="'primary'" indicatorColor="light" badgeColor="light" (tabSelect)="onTabSelect($event)">
  <super-tab *ngFor="let subcat of products['subcats'];let i = index;" [root]="products['tabs'][i].root" [title]="showTitles? subcat.name : ''" [icon]="showIcons? '': ''" [rootParams]="product_details" id={{subcat.id}} ></super-tab>

  <!-- <super-tab [root]="page2" [title]="showTitles? 'Accessories' : ''" [icon]="showIcons? '' : ''" [rootParams]="product_details"></super-tab>
  <super-tab [root]="page3" [title]="showTitles? 'Tablet' : ''" [icon]="showIcons? '' : ''" [rootParams]="product_details"></super-tab> -->
</super-tabs>



<!-- <super-tab *ngFor="let subcat of products['subcats']; let i = index;" [root]=page0 [title]="showTitles? products['tabs'][i].root : ''" [icon]="showIcons? '': ''" [rootParams]="product_details" id={{subcat.id}} ></super-tab> -->

  <!-- <ion-card (click)="productdetails()">
      <ion-card-content>
        <ion-row>
          <ion-col col-6 style="margin-top:auto;margin-bottom:auto;text-align:left;"> 
            <img  style="border-radius: 0%;" src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg" class="custom-avatar"/>
          </ion-col>
          <ion-col col-6>
            <p><b> Iphone 8 (Black, 32GB) </b></p>
            <p> The Mobile Store <p>
            <p><strong>DP: ₹ 78,000 </strong> </p>
            <p style="font-size: 12px;"><strong>MRP: ₹ 75,000 </strong> </p>
            <a href=""> Order </a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> -->
</ion-content>
<!-- <div class="masters" padding>
  <ion-segment [(ngModel)]="pet" >    
    <ion-segment-button value="kittens" >
      MOBILE
    </ion-segment-button>
    <ion-segment-button value="puppies">
      ACCESSORIES
    </ion-segment-button>
    <ion-segment-button value="pupp">
      TABLETS
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="pet">
  <ion-list *ngSwitchCase="'kittens'">
   



<ion-card (click)="productdetails()">
 <ion-card-content>
 <ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/mobile/honor_8_pro_screen_small_1497260751475.jpg" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>Apple</b></h1>
     </ion-col>
  
     <ion-col >
    <p> The Mobile Store</p>
     </ion-col>
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>

<ion-card (click)="midconnector()">
 <ion-card-content>

 <ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/latest/lenovo.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>Lenevo</b></h1>
     </ion-col>
  
     <ion-col >
    <p> Tara Mobile Center </p>
     </ion-col>
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>



<ion-card (click)="midconnector()">
 <ion-card-content> 

 <ion-row>
  <ion-col col-6> 
 <img  style="border-radius: 0%;" src="assets/latest/galaxy-devices.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col >
     <h1><b>Samsung</b></h1>
     </ion-col>
  
     <ion-col >
    <p  > Tara Mobile Center </p>
     </ion-col>
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>




<ion-card (click)="midconnector()">
 <ion-card-content>

 <ion-row>
  <ion-col col-6> 
   <img  style="border-radius: 0%;" src="assets/latest/lenovo.png" class="custom-avatar"/>
  </ion-col>
  <ion-col col-6>
    <ion-col>
     <h1><b>Lenevo</b></h1>
     </ion-col>
  
     <ion-col >
    <p>  Yukti Mobile Store </p>
     </ion-col>
  </ion-col>
</ion-row>
</ion-card-content>
</ion-card>
   
  </ion-list>

  


   
</div> -->














