page-distributorcode {



.toolbar-background {
  background-color:   #387080 ;
}

.masters {
  background-color: #387080;
  color:white;
  padding: 30;
}


.loginbutton {
  background-color: #41f4b5;
  border-radius: 42px;
  margin-right:6px;
 
}


.moveleft{
	margin-right:6px;
}

.inputfield{
 color:white;
 font-size:20px;
	
}


.ioconcc {
	padding-top: 27px;
}

.inputfield1 {
    color: white;
    float: left;
    padding: 0 10px 0 0;
}

.inputfield2{
 
	color: white;
	float: left;
	padding: 0;
}


.largetext{
   font-size: 25px;
}


.whitecc{
  color: white;
}



.my-width{
    width:200px;
  }

 .txtcentre{
    color: white;
   display: block; 
   margin: 0 auto;
 }

.ion-icon.arrow{
  color:white;
}

.back-button.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    color: white;
}






}
