


<ion-header >
  <ion-navbar class="masters">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>

    <ion-title> <b class="whitecc"><ion-icon name="md-arrow-round-back" (click)="goBack()" ></ion-icon>  Connect to Distributer </b></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="masters">

      <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Distributor Code </b></ion-label>
  <ion-input type="text" class="inputfield" [(ngModel)]="unique_code" [maxlength]="6" (keydown)="brandbydistributorcode()"></ion-input>
        </ion-item>

        <ion-item class="masters">
          <ion-label floating><b class="whitecc"> Brands </b></ion-label>  
          <ion-select class="inputfield" interface="action-sheet" [(ngModel)]="id_branddetails">
            <ion-option *ngFor="let item of branddetails" [value]="item.id">{{item.name}}</ion-option>
          </ion-select> 
        </ion-item>

       <br>
       <button ion-button  full  color="secondary" (click)="checkDistributerCode()" class="loginbutton" >Connect</button>
          <ion-item no-lines class="masters">
      <ion-row>
        <button ion-button class="txtcentre" (click)="goBack()"  clear small>Go Back</button>
      </ion-row>

       </ion-item>

   </ion-content>
