<ion-header  >
   <ion-toolbar>
   <button ion-button menuToggle>
      <ion-icon name="menu" class="whitecc"></ion-icon>
    </button>
    <ion-title ><b class="whitecc" style="font-size:1.4rem !important"> Infiget India  Pvt. </b> <ion-icon class="whitecc" style="margin-left: 1cm;"  name="cart"></ion-icon></ion-title>
     
   </ion-toolbar>

<ion-toolbar>
<ion-searchbar ></ion-searchbar>
<ion-list>
 
</ion-list>
   </ion-toolbar>


</ion-header>
<ion-content style="background:#e9ecf3;">
	<div class="container">
		<div class="row" *ngFor="let cart of cartItem; let i= index">
			<div class="col-md-12">
				
					<div class="w3-panel w3-card" style="background:#FFF;"><!-- <p>w3-card</p> -->
						
							<div class="row">
								<div class="col-md-6">
									<img class="img-responsive" src="{{cart.fullimage}}" style="margin-bottom:0px !important;" />
								</div>
								<div class="col-md-6" style="margin-bottom:15px;">
									<div style="text-align:center">{{cart.name}}</div>
									<div style="width:100%; margin:auto">
										<div style="float:left; margin-right:5px;">
											<button ion-button icon-start class="btn" (click)="removeAmount(cart)">
					  							<ion-icon name="remove"></ion-icon>
											</button>  
										</div>
										<div style="float:left;border: 1px solid #CCC; width:30%">
											{{cart.qty}}
										</div>
										<div style="float:left; margin-left:5px;">
											<button ion-button icon-start class="btn" (click)="addAmount(cart)">
					  							<ion-icon name="add" style="text-align:center"></ion-icon>
											</button>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						
					</div>
				
			</div>
		</div>
		<div class="row">
			<button ion-button class="finaliseitem">Finalise Item</button>
		</div>
	</div>
</ion-content>
