page-cartdetails {

.whitecc.icon.icon-md.ion-md-cart {
    float: right;
}

.itemborder{ border: 1px solid #4a87ee; border-radius: 3px; margin:10px; } 

.toolbar-background {
  background-color:   #387080 ;
}

.whitecc{
  color: white;
}

.whitecc.icon.icon-md.ion-md-cart {
    float: right;
}

.col > img {
    float: left;
    height: 120px;
    width: auto;
}

.button.btn{
	background-color: #36c6d3;
	height: 20px;
    width: 20px;
    line-height: 20px;
    display: block;
}

.button.finaliseitem {
    background-color: #36c6d3;
    font-size: 18px;
    height: 54px;
    width: 80%;
    line-height: 54px;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
}

}
